
    body
    {
        background-image: url("ticks.png");
        background-repeat: repeat;        
        margin:0px;
        font-family: Arial, Helvetica, sans-serif;
    }

    a
    {
       text-decoration-style: none;
       color: #778899;
    }
    
    img
    {
        float: left;
        height: 200px;
        width: 200px;
        padding-top: 10px;
        padding-right: 15px;
        padding-left: 20px;
    }

    p {
        font-size: 18px;
        font-family: Georgia, 'Times New Roman', Times, serif;        
        padding-left: 20px;
        padding-right: 10px;
        color: #777777;
        background-color: #ffffff;
    }


    h3{
        color: #778899;
        font-family: Arial, Helvetica, sans-serif;
    }

    /* section {
        background: #ffffff;
        border-color: #dddddd;
        padding: 20px;
        height: 600px;
        border: 0px;
        margin-left: 200px; 
        width: 960px;
    } */

    li {
        border-right: 1px solid #cccccc;
        font-size: 1.5em;
      }
      
      li:last-child {
        border-right: none;
        border-left: 1px solid #cccccc;
      }

    header {
        padding: 20px;
        height: 3em;
        width: 1160px;
        margin-bottom: 20px;
        margin-right: auto;
        background: #ffffff;
        border-color: #cccccc;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding-right: 550px;
        padding-top: 0px;
    }

    footer{
        height: 3em;
        width: 100%;
        margin-bottom: 0px;
        margin-right: auto;
        background: #666666;
        border-color: #4aaaa5;
        font-family: Arial, Helvetica, sans-serif;                
    }

    a:-webkit-any-link {
        color: -webkit-link;
        cursor: pointer;
        text-decoration: none;
        color: #778899;
        background: #ffffff;
    }
    #headerTitle{
        width: 280px;
        float: left;
        color: #ffffff;
        font-family: Georgia, 'Times New Roman', Times, serif;
        background: #4aaaa5;
        margin-left: 280px;
        padding-left: 30px;
        padding-right: 20px;
    }
    
    .titleLinks{
        font-size: 1.3em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0.3px;
        margin-inline-end: 0.3px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        width: 100px;
        float: right;       
        background-color: #ffffff;
        color: #777777;
        /*padding-bottom: 10px;  */
    }
    
    div.titleLinks :hover{
        color: #4aaaa5;
    }

    .copyWrite{
        margin-left: 650px; 
        padding-top: 15px; 
        color: #ffffff;
    }

    .mainNav{
        margin-left: 300PX;
        width: 960px;       
        height: 600px;
        background-color: #ffffff;
    }

    .mainDiv{
        width: 960px;
        height: 200px;
        padding-left: 20px;                
        background-image: image("../images/floor-tile.png");        
    }

    .mainDiv:first-child{
        padding-top: 20px;
    }

    #portfolio{
        width: 125px;
    }

    .title{
        color:#4aaaa5;
        padding-top: 30px;
        margin-left: 30px;
        margin-top: 30px;
    }

    .big{
        width: 80%;
        height: 250px;
        padding: 0px;
        color:#777777;
        margin-left: 30px;        
    }
    .contact{
        font-size: 1em;
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: normal;
        margin-left: 30px;        
    }

    
    .normal{
        width: 80%;        
        height: 30px;
        padding: 0px;
        color:#777777;
        margin-left: 30px;        
    }

    .portImage{
        height: 150px;
        width: 200px;
        padding-top: 20px;
        padding-right: 75px;
        padding-left: 30px;
    }
    
    .btnContact{
        background-color:#4aaaa5;
        width: 110px;
        height: 40px;
        color: #ffffff;
        margin-top: 25px;
        font-size: 1em;
        border-width: 0px;
        margin-left: 30px;        
    }

    .basic{
        width: 300px;
        border: none;
    }

    #solidLine
    {
        border: 2px solid #778899;
    }
    

    