
    body
    {
        background-color: lightgray;
        margin:0px;
    }


/*
    a
    {
        color: blue;
    }
    #contactInfo
    {
        padding-left: 1em;
    }

    .headerDiv
    {
        background-color: slategrey;
        font-size: 2em; 
        font-style: bold;   
        text-align: center;     
        padding: 0.5em;
    }
    
    .smallerDiv
    {
        float:left;        
    }
    
    #divMargin{
        width: 10%;
        float: right;
    }
        h1 {
        color: white;
        text-decoration: underline;
        background-color: mediumaquamarine;
    }
*/  
    body {
        margin: 0px;
    }
    a
    {
       text-decoration-style: none;
       color: #778899;
    }
    img
    {
        float: left;
        height: 200px;
        width: 200px;
        padding-top: 10px;
        padding-right: 15px;
    }

    p, li {
        font-size: 18px;
        font-family: Georgia, 'Times New Roman', Times, serif;        
        padding-left: 10px;
    }

    h3{
        color: #778899;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    section {
        background: white;
        padding: 20px;
        height: 600px;
        border: 0px;
        margin-left: 200px;
        width: 960px;
    }

    header {
        padding: 20px;
        height: 3em;
        /* width: 1160px; */
        margin-bottom: 40px;
        background: White;
        padding-right: 820px;
    }
    a:-webkit-any-link {
        color: -webkit-link;
        cursor: pointer;
        text-decoration: none;
        color: #778899;
        background: white;
    }
    #headerTitle{
        width: 260px;
        float: left;
        color: white;
        background: rgb(145, 202, 202);
        margin-left: 180px;
        padding-left: 30px;
    }
    
    .titleLinks{
        font-size: 1.5em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0.3px;
        margin-inline-end: 0.3px;
        font-weight: bold;
        width: 100px;
        float: right;        
        padding-bottom: 10px;
    }

    #portfolio{
        width: 125px;
    }

    .title{
        color:rgb(145, 202, 202);
    }

    .normal{
        width: 100%;
        height: 30px;
        padding: 0px;
    }

    .big{
        width: 100%;
        height: 250px;
        padding: 0px;
    }
    .contact{
        font-size: 1em;
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: normal;
    }

    .portImage{
        height: 150px;
        width: 200px;
        padding-top: 10px;
        padding-right: 15px;
    }
    
    .btnContact{
        background-color:rgb(127, 182, 182);
        width: 110px;
        height: 40px;
        color: white;
        margin-top: 25px;
        font-size: 1em;
        border-width: 0px;
    }

    .basic{
        width: 300px;
        border: none;
    }

    #solidLine
    {
        border: 2px solid #778899;
    }
    

    